@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* -- goolge font */

body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    font-weight: 400;
}
.carousel-element  {
    padding-bottom: 100px;
}
.slide-btn {
    color: #3F87F5;
}
.price-box-1 { 
    height: 26rem;
    position: relative;
    top: -38px;
}

.plan {
    color: #3F87F5;
    background-color: #F496D1;
}

.plan-2 {
    color: #3F87F5;
    background-color: #FFFFFF;
}




     /* --- mobile  device */
     @media only screen and (max-width: 576px) {
        .price-box-1 {
            position: relative;
            top: 0px;
            margin: 16px 0px;
            height: 24rem;
     }
}
    
    
    
    /* --- mobile-2 device --sm-- */
    @media only screen and (min-width: 576px) and (max-width: 768px) {
        .price-box-1 {
            position: relative;
            top: 0px;
            margin: 16px 0px;
            height: 22rem;
    }
    
}
    
    /* ---tablet device --md-- */
    @media only screen and (min-width: 768px) and (max-width: 992px) {
        .price-box-1 {
            position: relative;
            top: 0px;
            height: 22rem;
       }
    }
    
    
    
    /* --- desktop device --lg-- */
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
    
            }
    
   


            